*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: radial-gradient(#6b7280, #111827);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    perspective: 1000px;
}
#safeArea{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}


         /* hole note */


#Note{
    display: flex;
    position: absolute;
    width: 10px;
    height: 300px;
    background-color: #111827;
    transform: rotateY(90deg);
    transform-style: preserve-3d;
}
#Note::before, #Note::after{
    content: '';
    display: flex;
    position: absolute;
    width: 20px;
    height: 300px;
    transform: rotateY(-90deg) translateY(0px) translateX(-10px);
    background-image: linear-gradient(90deg, #010202 90%, #374151 10%);
    transform-style: preserve-3d;
}
#Note::before{
    left: -0px;
}
#Note::after{
    right: -0px;
}


         /* side, front and back */


.side{
    position: absolute;
    width: 10px;
    height: 300px;
    left: 0px;
    background-color: #111827;
    transform: translateZ(-20px);
}
#front, #back, .inside{
    position: absolute;
    width: 180px;
    height: 300px;
    left: 0px;
    border-radius: 0 5px 5px 0;
    background-image: linear-gradient(90deg, #010202, #111827);
    transform: rotateY(-90deg);
    transform-origin: left center;
    transform-style: preserve-3d;
}
#back{
    left: 10px;
}
#front::before{
    content: '';
    background-image: url(photos/deathnote1.png);
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 120px;
    height: 30px;
    top: 80px;
    left: 25px;
}
#front::after{
    content: '';
    position: absolute;
    width: 180px;
    height: 300px;
    left: 0px;
    border-radius: 0 5px 5px 0;
    background-image: linear-gradient(90deg, #010202, #111827);
    transform: translateZ(-.09px);
}

         /* inside */
.inside{
    background-image: radial-gradient(at left 20% top 50%, #d3d2d2, #4f4f4f);
    border: 2px solid #090216;
}
.one{
    left: 9.5px;
}
.two{
    left: 8.5px;
}
.three{
    left: 7.5px;
}
.four{
    left: 6.5px;
}
.five{
    left: 5.5px;
}
.six{
    left: 4.5px;
}
.seven{
    left: 3.5px;
}
.eight{
    left: 2.5px;
}
.nine{
    left: 1.5px;
}
.ten{
    left: .5px;
}